<div id="<%= dom_id flavor %>">
  <p>
    <strong>Name:</strong>
    <%= flavor.name %>
  </p>

  <p>
    <strong>Instock:</strong>
    <%= flavor.instock %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= flavor.quantity %>
  </p>

</div>
