<h1>Inventory by location</h1>

<table>
  <thead>
    <tr>
      <th>Flavor (Instock)</th>
      <% @locations.each do |location| %>
        <th><%= location.name %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @instock_flavors.each do |flavor| %>
      <tr>
        <td><%= flavor.name %></td>
        <% @locations.each do |location| %>
          <% location_flavor = @location_flavors.find_by(flavor: flavor, location: location) %>
          <td><%= location_flavor&.inventory || 0 %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

 





<%= link_to 'Add Inventory', new_increase_inventory_form_location_flavors_path %>




