<h1>Inventory Levels</h1>

<table>
  <thead>
    <tr>
      <th>Flavor</th>
      <% @locations.each do |location| %>
        <th><%= location.name %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @instock_flavors.each do |flavor| %>
      <tr>
        <td><%= flavor.name %></td>
        <% @locations.each do |location| %>
          <td><%= location_flavor_inventory(flavor, location) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
